---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
    <title>TagesInsel Mölln - Content Manager</title>
  </head>
  <body>
    <script>
      import CMS from "decap-cms-app";
      import { de } from 'decap-cms-locales';

      CMS.registerLocale('de', de);
      // Initialize the CMS object
      CMS.init();
    </script>
  </body>
</html>

<style>
</style>