---
import { marked } from 'marked';
import Layout from '../layouts/Layout.astro';
import { getEntry } from "astro:content";
import HeroImage from '../components/HeroImage.astro';
import Section from '../components/Section.astro';
import MarkdownWithHeadline from '../components/MarkdownWithHeadline.astro';
import {fromSrc} from "../utils";

const donations = await getEntry("pages", "donations");
---

<Layout>
    <HeroImage src={fromSrc(donations.data.hero)}/>
    <Section class="py-16">
        <MarkdownWithHeadline markdown={donations.data.body} headline={donations.data.headline}/>
    </Section>
</Layout>

<style>
    .content {
        max-width: var(--content-max-width);
    }
</style>

